# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_NAME=queuecast

# Auth0
AUTH0_DOMAIN=https://your-tenant.us.auth0.com/
AUTH0_IDENTIFIER=https://queuecast-api

# Redis
REDIS_URL=localhost:6379

# Frontend
FRONTEND_URL=http://localhost:5173