# Database
DATABASE_URL= your database url

# Auth0
AUTH0_DOMAIN=https://your-tenant.us.auth0.com/
AUTH0_IDENTIFIER=https://queuecast-api

# Redis
REDIS_URL=localhost:6379

# Frontend
FRONTEND_URL=http://localhost:5173